body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #003049;
}
.box {
  height: 150px;
  width: 300px;
  background-color: #669bbc;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  transform: translateX(400%);
  transition: transform 0.4s ease;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: hidden;
}
.box:nth-of-type(even) {
  transform: translateX(-400%);
}
.box.show {
  transform: translateX(0);
}
